<div class="container">
  <div class="card">
    <h3 class="text-center">Users</h3>
    <div class="card-body">
      <table class = " table table-striped ">
        <thead>
          <th>Id</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>State</th>
          <th>Actions</th>


        </thead>
        <tBody>
          <tr *ngFor=" let user of users ">

            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}</td>
            <td>{{user.state}}</td>
            <td>
              <button (click) = "updateUser(user.id)" class= "btn btn-info"> Update </button>
              <button (click) = "deleteUser(user.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
              <button (click) = "userDetails(user.id)" class = "btn btn-info" style="margin-left: 10px"> View </button>

            </td>







          </tr>


        </tBody>


      </table>

    </div>
  </div>




</div>
